
.mat-menu-panel{
    width:auto;
    max-width:390px !important;
}
.mat-menu-panel .mat-menu-content{
    background:whitesmoke;
}
.popover-header {
    background-color: #0066eb;
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1)!important;
    font-weight: normal;
    border-radius: 5px 5px 0 0;
    padding: 8px 14px;
    margin-bottom: 0;
}

.popover-body {
    background: #0066eb;
    padding: 9px 14px 16px;
    color: #fff;
    border-radius: 0 0 5px 5px;
}
.popover-body p {
    margin:0;
}
.tour-step-content {
    font-size: 16px;
}
.tour-step-navigation button {
    color:#fff !important;
}

.popover {
    border: medium none;
    width: 300px;
    max-width: 300px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 14px 1px rgba(7, 107, 239, 0.43);
    background: #0066eb;
}

.tour-step-navigation {
    .btn {
        width: 66px;
        padding: 1px 6px;
        margin-right: 0.6rem;
        border-radius: 3px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        &:last-child {
            margin: 0;
        }
    }
    i {
        font-size: 1rem;
        vertical-align: sub;
    }

}

.popover.bs-popover-bottom .arrow::after,
.popover.bs-popover-auto[x-placement^="bottom"] .arrow::after {
    border-bottom-color: #0066eb;
}

.popover.bs-popover-bottom .popover-header::before,
.popover.bs-popover-auto[x-placement^="bottom"] .popover-header::before {
    border-bottom: 1px solid #0066eb;
}


.popover.bs-popover-right .arrow::after, .popover.bs-popover-auto[x-placement^="right"] .arrow::after {
  border-right-color: #0066eb;

}
.popover.bs-popover-left .arrow::after, .popover.bs-popover-auto[x-placement^="left"] .arrow::after {
  border-color: #0066eb;

}

