

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start" *ngIf='this.churnData != null'>


    
    <div fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md >
        <md-card>
            <ms-pie-chart [data]="this.percentage" title="Pro/Contra Statistics" textColor="#222328"></ms-pie-chart>
        </md-card>
    </div>

    










   <div fxFlex="100">
        <div class="gene-welcome-note pad-wrap">
                <h2 class="ng-tns-c10-3">Opinion Search</h2>
                <p class="ng-tns-c10-3">Search opinions towards a specific entity/keyword.</p>
            </div>
     <div class="pad-all-md mat-white box-inset mrgn-b-sm">
      <md-input-container class="full-wid">
         <input mdInput type="text" placeholder='Type to filter the name column...' (keyup)='updateFilter($event)' /> </md-input-container>
         <div class="gene-card-content">
            <p class="mrgn-b-lg">Select buttons allow the user to select one option from a set</p>
            <form>
                <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
                    <md-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                    </md-option>
                </md-select>
                <p> Selected value: {{selectedValue}} </p>
            </form>
        </div>
      
      
        </div>
      <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]="rows"> </ngx-datatable>
   </div>
</div>


<md-menu #menuopt="mdMenu" x-position="before">
    <button md-menu-item>
        <md-icon>settings</md-icon> Settings </button>
    <button md-menu-item>
        <md-icon>more</md-icon> View More </button>
    <button md-menu-item>
        <md-icon>notifications_off</md-icon> Disable notifications </button>
    <button md-menu-item>
        <md-icon>exit_to_app</md-icon> Remove Panel </button>
</md-menu>