

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start" *ngIf='this.churnData != null'>


    
    <div fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md >
        <md-card>
            <ms-pie-chart [data]="this.percentage" title="Pro/Contra Statistics" textColor="#222328"></ms-pie-chart>
        </md-card>
    </div>

    <div fxFlex="100%" fxFlex.md="49.5%" fxFlex.sm="100%" fxFlex.gt-md >
        <md-card>
           
                <md-input-container class="full-wid">
                   <input mdInput type="text" placeholder='Analyse a topic...' (keyup)='updateFilter($event)' /> </md-input-container>
                  <div align="right">
                     <div style="display: inline-block; margin-right: 30px;">
                      <form>
                          <md-select placeholder="Sentiment" [(ngModel)]="selectedValue" name="food">
                              <md-option *ngFor="let food of foods" [value]="food.value">
                                  {{food.viewValue}}
                              </md-option>
                          </md-select>
                          
                      </form>
                    </div>
                    <div style="display: inline-block;">
                        <button class="mrgn-all-xs mat-raised-button mat-accent" color="accent" md-raised-button="" ng-reflect-color="accent" ng-reflect-class-base="mrgn-all-xs"><span class="mat-button-wrapper">Analyse</span><div class="mat-button-ripple mat-ripple" md-ripple="" ng-reflect-trigger="[object HTMLButtonElement]" ng-reflect-centered="false" ng-reflect-disabled="false"></div><div class="mat-button-focus-overlay"></div></button>          </div>
                    </div>
                  
                   
                
                  
        </md-card>
    </div>

    


</div>































    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start" *ngIf='this.churnData != null'>







   <div fxFlex="100">
        
    
      <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]="rows"> </ngx-datatable>
   </div>
</div>


<md-menu #menuopt="mdMenu" x-position="before">
    <button md-menu-item>
        <md-icon>settings</md-icon> Settings </button>
    <button md-menu-item>
        <md-icon>more</md-icon> View More </button>
    <button md-menu-item>
        <md-icon>notifications_off</md-icon> Disable notifications </button>
    <button md-menu-item>
        <md-icon>exit_to_app</md-icon> Remove Panel </button>
</md-menu>